# Directories
.vs/
.idea/
/bin/
/obj/
/cmake-build-debug/
/cmake-build-release/
/install/TileAtlasCreator/.idea
/install/TileAtlasCreator/out
/install/TileAtlasCreator/target
build
cmake

# Files
*.sln
*.vcxproj
*.filters
*.user
*.bat
*.jpg
*.jpeg
*.png
*.bmp
*.mtl
*.blend
*.obj
*.ttf
*.otf
*.ini
*.lock
*.json
*.bsh
*.col
*.cod
*.bak
*.BSH
*.COL
*.txt

!/config.ini

!/resources/data/Buildings.json
!/resources/data/Menus.json
!/resources/devlog/*
!/resources/doc/*
!/resources/font/DejaVuSansMono.ttf
!/resources/textures/gfx/*
!/resources/textures/mgfx/*
!/resources/textures/sgfx/*
!/src/vendor/ini/LICENSE.txt
