###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

resources/island/*.isl linguist-vendored
resources/map/*.map linguist-vendored
resources/save/*.sav linguist-vendored
