# Directories
.vs/
.idea/
/bin/
/obj/
/cmake-build-debug/
/cmake-build-release/
build

# Files
*.sln
*.vcxproj
*.filters
*.user
*.bat
*.jpg
*.jpeg
*.png
*.bmp
*.mtl
*.blend
*.obj
*.ttf
*.ini
*.lock
*.json
*.bsh
*.col
*.cod
*.bak
*.BSH
*.COL

conanbuildinfo.premake.lua
conanbuildinfo.txt
conaninfo.txt
conanbuildinfo.cmake

!/create.bat
!/config.ini
!/resources/devlog/*
!/resources/textures/gfx/*
!/resources/textures/mgfx/*
!/resources/textures/sgfx/*
!/resources/data/ExampleMap.json
!/resources/data/NewWorld.json
!/resources/data/Savegame.json
!/resources/data/Menus.json
!/resources/data/Texts.json
